{{ form_start(form) }}
<div>
	<div class="d-flex align-items-center align-items-center">
		<div class="p-3">
			<div class="d-flex">
				<div class="d-flex flex-column justify-content-center projet_image1">
					<label class='form-label ps-2' for="image">Image 1 :</label>
					{{ form_widget(form.image, {label: ' '}) }}
				</div>
				<div class="d-flex flex-column">
					<div class="d-flex flex-column justify-content-center projet_image2_3">
						<label class='form-label ps-2' for="image2">Image 2 :</label>
						{{ form_widget(form.image2, {label: ' '}) }}
					</div>
					<div class="d-flex flex-column justify-content-center projet_image2_3">
						<label class='form-label ps-2' for="image3">Image 3 :</label>
						{{ form_widget(form.image3, {label: ' '}) }}
					</div>
				</div>
			</div>
			<div class="d-flex flex-column justify-content-center projet_image4">
				<label class='form-label ps-2' for="image4">Image 4 :</label>
				{{ form_widget(form.image4, {label: ' '}) }}
			</div>
		</div>
		<div class="description_box p-2">
			<label class='ps-2' for="title">Titre :</label>
			{{ form_widget(form.title, {label: ' '}) }}
			<label class='ps-2' for="description">Description :</label>
			{{ form_widget(form.description, {label: ' '}) }}
		</div>
	</div>
	<div class="d-flex justify-content-center align-items-center">
		<div class="description_box p-2">
			<label class='ps-2' for="description2">Description :</label>
			{{ form_widget(form.description2, {label: ' '}) }}
		</div>
		<div>
			<div class="d-flex">
				<div class="d-flex flex-column justify-content-center projet_image5">
					<label class='form-label ps-2' for="image5">Image 5 :</label>
					{{ form_widget(form.image5, {label: ' '}) }}
				</div>
				<div class="d-flex flex-column justify-content-center projet_image6">
					<label class='form-label ps-2' for="image6">Image 6 :</label>
					{{ form_widget(form.image6, {label: ' '}) }}
				</div>
			</div>
			<div class="d-flex flex-column justify-content-center projet_image7">
				<label class='form-label ps-2' for="image7">Image 7 :</label>
				{{ form_widget(form.image7, {label: ' '}) }}
			</div>
		</div>
	</div>
</div>

{{ form_widget(form) }}
<div class="d-flex justify-content-center my-4">
	<button class="button">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
